 <ion-card>
  <ion-card-header>
    <ion-card-title>Anuncios importantes</ion-card-title>
    <ion-card-subtitle color="danger">Por favor revisar bien los avisos de sus hijos/as</ion-card-subtitle>
  </ion-card-header>
  <ion-card-content>

    <ion-item button detail (click)="openQrModal()">
      <ion-thumbnail slot="start">
        <img alt="Silhouette of mountains" src="https://www.cbtis248.edu.mx/bienvenida.png" />
      </ion-thumbnail>
      <ion-label>
        Reunión de padres de familia 13 de octubre de 2024
      </ion-label>
      <ion-icon name="caret-forward" slot="end" class="icon-forward"></ion-icon>
    </ion-item>
    <!-- Otros items iguales -->
  </ion-card-content>
</ion-card>
