/* Centrar la tarjeta y hacer que ocupe toda la pantalla */
ion-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Asegura que el ion-content llene la pantalla */
}

/* Aumenta el tamaño de la tarjeta y centrado */
ion-card {
  max-width: 450px;
  width: 100%; /* Para que se ajuste en pantallas pequeñas */
  margin: 0 auto; /* Centrar horizontalmente */
  padding: 10px;
  border-radius: 16px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave */
}

/* Ajustar el tamaño de la imagen dentro del ion-thumbnail */
ion-thumbnail {
  width: 60px;
  height: 60px;
}

/* Estilo para los ion-items */
ion-item {
  --inner-padding-end: 16px;
  font-size: 1.1rem;
  border-bottom: 1px solid #ffffff;
  padding: 5px;
}

/* Personaliza el título (en negritas) y subtítulo (en rojo) */
ion-label {
  font-weight: bold;
  color: var(--ion-color-dark); /* Título en color negro */
}

/* Estilo para subtítulo en rojo */
ion-label p {
  font-size: 1rem;
  color: var(--ion-color-danger); /* Subtítulo en rojo */
  margin-bottom: 6px;
}

/* Alinea el icono a la derecha y lo centra verticalmente */
.icon-forward {
  font-size: 1.5rem;
  color: var(--ion-color-primary); /* Cambia el color si es necesario */
}
