<ion-scroll scroll-x="false" class="horizontal-scroll" forceOverscroll="false">
  <div class="scroll-container">
    <!-- Agrega más cards si es necesario -->
    <ion-card class="scroll-card">
      <img alt="Anuncio 2" src="https://www.cbtis248.edu.mx/bienvenida.png" />
      <ion-card-header>
        <ion-card-title>Otro anuncio importante</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        Información relevante sobre actividades y fechas importantes para el próximo semestre.
      </ion-card-content>
      <ion-button size="large" shape="round" class="ion-text-wrap">
        VER MÁS
        <ion-icon aria-hidden="true" name="square"></ion-icon>
      </ion-button>
    </ion-card>

    <ion-card class="scroll-card">
      <img alt="Anuncio 2" src="https://www.cbtis248.edu.mx/bienvenida.png" />
      <ion-card-header>
        <ion-card-title>Otro anuncio importante</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        Información relevante sobre actividades y fechas importantes para el próximo semestre.
      </ion-card-content>
      <ion-button size="large" shape="round" class="ion-text-wrap">
        VER MÁS
        <ion-icon aria-hidden="true" name="square"></ion-icon>
      </ion-button>
    </ion-card>
  </div>
</ion-scroll>
