/* Centrar la tarjeta y hacer que ocupe toda la pantalla */
ion-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Asegura que el ion-content llene la pantalla */
}

/* Aumenta el tamaño de la tarjeta y centrado */
ion-card {
  max-width: 450px;
  width: 100%; /* Para que se ajuste en pantallas pequeñas */
  margin: 0 auto; /* Centrar horizontalmente */
  padding: 20px;
  border-radius: 16px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave */
}

/* Asegura que la imagen del avatar se ajuste correctamente */
ion-avatar img {
  width: 270px;
  height: 270px;
  object-fit: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

/* Estilo para los ion-items */
ion-item {
  --min-height: 60px;
  font-size: 1.1rem;
  border-bottom: 1px solid #ffffff;
  padding: 10px 0;
}

/* Personaliza el contenido del ion-label */
ion-label h2 {
  font-weight: bold;
  color: var(--ion-color-primary);
  justify-content: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  margin-bottom: 8px;
}

ion-label p {
  font-size: 1rem;
  color: #111314;
  margin-bottom: 6px;
}

ion-label p strong {
  color: var(--ion-color-dark);
}

/* Espacio alrededor del contenido */
ion-list {
  padding: 0 20px;
}
