<ion-card>
  <div class="avatar-container">
    <ion-avatar class="avatar-card">
      <img alt="perfil" class="avatar-card"
        src="https://png.pngtree.com/thumb_back/fh260/background/20230516/pngtree-the-face-of-a-tiger-is-shown-on-a-black-background-image_2562801.jpg" />
    </ion-avatar>
  </div>
  <ion-card-header>
    <ion-item>
      <ion-icon name="person" slot="start"></ion-icon>
      <ion-card-title>Marco Antonio Romero Romero</ion-card-title>
    </ion-item>
    <ion-item>
      <ion-icon name="mail" slot="start"></ion-icon>
      <ion-label>correo del responsable</ion-label>
    </ion-item>
    <ion-item>
      <ion-icon name="document-text" slot="start"></ion-icon>
      <ion-label>Curp: RUTYE4352WRDFSTREG</ion-label>
    </ion-item>
    <ion-item>
      <ion-icon name="phone-portrait" slot="start"></ion-icon>
      <ion-label>Telefono: 9512670297</ion-label>
    </ion-item>
    <ion-item>
      <ion-icon name="extension-puzzle" slot="start"></ion-icon>
      <ion-label>Tipo de perfil: administrativo</ion-label>
    </ion-item>
  </ion-card-header>

  <ion-card-content>
    <ion-item>
      <ion-label>Tema oscuro</ion-label>
      <ion-toggle slot="end"></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-label>Idioma</ion-label>
      <ion-select placeholder="Selecciona un lenguaje" slot="end">
        <ion-select-option value="es">Español</ion-select-option>
        <ion-select-option value="en">Inglés</ion-select-option>
        <ion-select-option value="fr">Francés</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-icon slot="end" name="log-out"></ion-icon>
      <ion-label>Cerrar Sesión</ion-label>
    </ion-item>
  </ion-card-content>
</ion-card>
