ion-toolbar {
  --background: #ffe600; /* Amarillo característico */
  --color: #000;
}

ion-tab-bar {
  --background: #fff;
  --color-selected: #ffe600;
  --color: #000;
}

ion-menu {
  --background: #fff;
}
