<!-- Aqui mandamos a llamar el menú -->
<app-menu></app-menu>
<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="inicio" href="/cbtis248/inicio">
      <ion-icon aria-hidden="true" name="home"></ion-icon>
      <ion-label>Inicio</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="anuncios" href="/cbtis248/anuncios">
      <ion-icon aria-hidden="true" name="today"></ion-icon>
      <ion-label>Avisos de la institución</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="perfil" href="/cbtis248/perfil">
      <ion-icon aria-hidden="true" name="person"></ion-icon>
      <ion-label>Perfil</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
