<ion-header>
  <ion-toolbar>
    <ion-title>Nombre del anuncio</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="closeModal()">Cerrar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card>
    <div class="avatar-container">
      <img alt="perfil" class="avatar-card" src="https://www.cbtis248.edu.mx/bienvenida.png" />
    </div>
    <ion-list>
      <ion-item>
        <ion-label>
          <h2>Información del anuncio</h2><br>
          <p><strong>Anuncio dirigido para:</strong><br><br> 1°C PROGRAMACIÓN</p><br>
          <p><strong>Descripción:</strong><br><br>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsam eum
            omnis ut nihil corporis vel, est maiores placeat debitis quaerat odit, ratione magni repellat nisi numquam
            incidunt, animi eius recusandae? Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam dolor
            natus possimus alias facere dolores eius fuga, laudantium illum molestiae! Placeat, voluptates porro. Ad
            nemo quod quo dignissimos, a nulla? lor lo</p><br>
        </ion-label>
      </ion-item>
    </ion-list>
  </ion-card>
</ion-content>
