<div class="ion-page" id="main-content"></div>
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Registrar responsable
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form method="POST" enctype="multipart/form-data" autocomplete="off">
    <ion-input label="Nombre del alumno" formControlName="name" label-placement="floating" fill="outline"
      placeholder="Escriba su nombre"></ion-input><br>
    <ion-input label="Apellido Paterno" formControlName="flastname" label-placement="floating" fill="outline"
      placeholder="Escriba su apellido paterno"></ion-input><br>
    <ion-input label="Apellido Materno" formControlName="slastname" label-placement="floating" fill="outline"
      placeholder="Escriba su apellido materno"></ion-input><br>
    <ion-input label="Numero de telefono" type="number" formControlName="controlescolar" label-placement="floating"
      fill="outline" placeholder="Escriba su numero de telefono"></ion-input><br>
    <ion-input label="Curp" formControlName="curp" label-placement="floating" fill="outline"
      placeholder="Escriba su curp"></ion-input><br>

    <ion-input label="Fecha de nacimiento" type="date" formControlName="birthdate" label-placement="floating"
      fill="outline" placeholder="Escriba los datos"></ion-input><br>
    <br>
    <input type="file" formControlName="file" id="fileInput" hidden (change)="onFileSelected($event)">
    <ion-button size="default" shape="round" expand="block" color="medium"
      onClick="document.getElementById('fileInput').click()">
      <ion-icon slot="start" name="image"></ion-icon>
      Foto de responsable
    </ion-button>
    <br>

    <ion-button color="secondary" type="submit" expand="block" shape="round">
      <ion-icon slot="start" name="add-circle"></ion-icon>
      Registrar responsable
    </ion-button>
  </form>
</ion-content>
