<ion-card>
  <div class="avatar-container">
    <ion-avatar class="avatar-card">
      <img alt="perfil"
        src="https://static3.depositphotos.com/1003827/178/i/450/depositphotos_1786336-stock-photo-beauty-a-little-girl.jpg" />
    </ion-avatar>
  </div>
  <ion-list>
    <ion-item>
      <ion-select class="always-flip" toggleIcon="caret-down-sharp" interface="popover" label="Alumno:" placeholder="Carolina Romero Romero">
        <ion-select-option>Carolina Romero Romero</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>Grado y Grupo: <a>1°C PROGRAMACIÓN</a></ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Num Control escolar: <a>24473HSQW</a></ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Tutor: <a>NO SE SABE</a></ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Dirección: <a>POR DEFINIR</a></ion-label>
    </ion-item>
  </ion-list>
</ion-card>
